<h1>Welcome to your empty house!</h1>
<%= link_to "New Image", new_image_path %>

<div>
  <% @tags.each do |tag| %>
    <% if @selected.include?(tag) %>
      <%= link_to tag, images_path(tag: @selected.sub(tag+';', '')), class: 'btn btn-primary tag' %>
    <% else %>
      <%= link_to tag, images_path(tag: @selected + tag+';'), class: 'btn btn-secondary tag' %>
    <% end %>
  <% end %>
</div>

<table>
  <% @images.each do |image| %>
    <tr>
      <td>
        <%= image_tag image.url, :class => 'image' %>
        <%= image.tag_list %>
        <%= link_to 'Delete', image_path(image), method: :delete, class: 'btn btn-danger',
                    data: { confirm: "Are you sure to delete this image?" } %>
      </td>
    </tr>
  <% end %>
</table>
